#############################################
name: 'docker_app_ci_cd'

trigger:
- master
- feature/*

pool:
  name: w7pool

variables:
  dockerRegistryServiceConnection: demo-acr
  imageRepository: w8-private-acr-repo
  containerRegistry: stasprivateacr.azurecr.io
  dockerfilePath: Dockerfile
  tag: $(Build.BuildNumber)

stages:
  - stage: CI
    jobs:
      - job: install_prerequisites
        workspace:
          clean: all
        steps:
          - task: Docker@2
            inputs:
              containerRegistry: $(dockerRegistryServiceConnection)
              repository: $(imageRepository)
              command: buildAndPush
              Dockerfile: $(dockerfilePath)
              tags: $(tag)


  - stage: DeployToStaging
    condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/master'))
    jobs:
    # - deployment: staging
    #   displayName: Deploy to Staging
    #   environment:
    #     name: staging
    #     resourceType: VirtualMachine
    #   strategy:
    #     runOnce:
    #       deploy:
      
      - job: manual_approval
        displayName: "Manual Approval"
        pool: server
        steps:
          - task: ManualValidation@0
            inputs:
              notifyUsers: 'w4p-a@outlook.com'
      
    
#   - deployment: staging
#     displayName: Deploy to Staging
#     environment:
#       name: <<YOUR ENVIRONMENT NAME>>
#       resourceType: VirtualMachine
#     strategy:
#       runOnce:
#         deploy:
#           steps:
#           - <<YOUR TASKS>>
          
# Continuous Delivery Process for Production Environment
# - stage: DeployToProduction
#   condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/master'))
#   jobs:
#   - deployment: production
#     displayName: Deploy to Production
#     environment:
#       name: <<YOUR ENVIRONMENT NAME>>
#       resourceType: VirtualMachine
    # strategy:
    #   runOnce:
    #     deploy:
    #       steps:
    #       - <<YOUR TASKS>>