
version: '3.3'
services:
  db:
    image: postgres:14.1-alpine
    restart: always
    env_file:
      - .env
    # environment:
    #   - POSTGRES_USER
    #   - POSTGRES_PASSWORD
    ports:
      - '5433:5433'
    volumes: 
      - db:/var/lib/postgresql/data
  app:
    container_name: wt_app
    build:
      context: ./ 
    image: wt_app
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - 8080:8080
    links:
      - db
    volumes:
      - './:/src'
volumes:
  db:
    driver: local