
version: '3.3'
services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=pgadmin
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PORT=5432
    ports:
      - '5432:5432'
    volumes: 
      - db:/var/lib/postgresql/data
  app:
    container_name: wt_app
    build:
      context: ./ 
    image: wt_app
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - 8080:8080
    links:
      - db
    volumes:
      - '/home/:/src'
volumes:
  db:
    driver: local