apiVersion: v1
kind: Service
metadata:
  name: postgresdb #{{ .Values.service.name }} #postgresdb
spec:
  type: {{ .Values.svc.type }} #ClusterIP
  ports:
  - port: {{ .Values.svc.ports.port }} #5432
    targetPort: {{ .Values.svc.ports.targetPort }} #5432
  selector:
    app: {{ .Values.svc.selector.app}} #postgresdb


# apiVersion: v1
# kind: Service
# metadata:
#   name: {{ include "helm-db.fullname" . }}
#   labels:
#     {{- include "helm-db.labels" . | nindent 4 }}
# spec:
#   type: {{ .Values.service.type }}
#   ports:
#     - port: {{ .Values.service.port }}
#       targetPort: http
#       protocol: TCP
#       name: http
#   selector:
#     {{- include "helm-db.selectorLabels" . | nindent 4 }}
