deploy:
  name: postgresdb
  replicas: 1
  selector:
    app: postgresdb
  labels:
    app: postgresdb
  containers:
    name: postgresdb
    image: postgres:latest
    containerPort: 5432
    envFrom:
      name: secret-env-config
    volumeMounts:
      name: database
      mountPath: /var/lib/postgresql
      subPath: backup
  volumes:
    name: database
    persistentVolumeClaim:
      claimName: pvc-postgres

---

pvc:
  name: pvc-postgres
  accessModes: ReadWriteOnce
  storageClassName: managed-premium
  storage: 10Gi

---

svc:
  name: postgresdb
  type: ClusterIP
  ports:
    port: 5432
    targetPort: 5432
  selector:
    app: postgresdb

