deploy:
  name: postgresdb-stage
  replicas: 1
  selector:
    app: postgresdb-stage
  labels:
    app: postgresdb-stage
  containers:
    name: postgresdb-stage
    image: postgres:latest
    containerPort: 5432
    envFrom:
      name: secret-env-config-stage
    volumeMounts:
      name: database-stage
      mountPath: /var/lib/postgresql
      subPath: backup
  volumes:
    name: database-stage
    persistentVolumeClaim:
      claimName: pvc-postgres-stage

pvc:
  name: pvc-postgres-stage
  accessModes: ReadWriteOnce
  storageClassName: managed-premium
  storage: 10Gi

svc:
  name: postgresdb-stage
  type: ClusterIP
  ports:
    port: 5432
    targetPort: 5432
  selector:
    app: postgresdb-stage